DB_HOST=innovatech.com.mx
DB_USER=sahfc
DB_PASSWORD="**SaP5950#"
DB_NAME=hfcvacaciones
DB_PORT=3306
PORT=3000
JWT_SECRET=UnaFraseMuySecretaY_Larga_Para_Inovatech_2024

EMAIL_HOST=mail09.xinet.com.mx
EMAIL_PORT=465
EMAIL_USER=notificaciones@mikne.com.mx
EMAIL_PASS=f5bsW>r19Hr!
EMAIL_FROM=notificaciones@mikne.com.mx

FRONTEND_URL=http://localhost:5173
